@import "tailwindcss";
html, body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}
:root {
  --sidebar-width: 240px;
   --bg-main: #0f172a;        
  --bg-card: #1e293b;        
  --bg-panel: #020617;      

  --primary: #38bdf8;        
  --accent: #a78bfa;         
  --highlight: #22c55e;     

  --text-main: #e2e8f0;
  --text-dim: #94a3b8;

 --text-light:#c6f754;
--text-light-orange: #fcd34d;

--orange: #f59e0b;
--orange-dark: #d97706;
--orange-soft: #fcd34d;

  
  --border-pixel: #334155;
}



@theme {
  --color-primary-50: #fff1f7;
  --color-primary-100: #ffe4ef;
  --color-primary-200: #ffcfe3;
  --color-primary-300: #ffb3d1;
  --color-primary-400: #ff8fbb;
  --color-primary-500: #ff6fa7;
  --color-primary-600: #f04f8f;
  --color-primary-700: #d63375;
}